.dp{
    width: 1700px;
    height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 50%);
    border-radius: 20px;
    transition: 2s;
    
}
.dp:hover{
    width: 1800px;
    height: 50px;
    background-color: #b8bedd;
    transition: 1s;
    
    
}
.datos{
    
    margin: 10px 40px 10px 10px;
    font-size: 20px;
    color: #2d25c6;
    transition: 1s;
}
.datos:hover{
    transition: 1s;
    font-size: 30px;
    color: #f72585;
}

